.common-ui.date-selector
  height 30px
  position relative

  &.date-selector-expand
    width 100%

  .date-selector-input
    height 30px
    display table-cell
    vertical-align middle

    .input-text
      place holder

    .input-icon
      width 9px
      height 6px
      background-image url('../image/arrow-down-black-36x22.png')
      background-size 9px 6px
      position absolute
      top 13px
      right 10px

  &.date-selector-primary
    background-color #DDD

    .date-selector-input
      .input-text
        color black
        font-size 12px
        padding-left 10px

      .input-icon
        width 9px
        height 6px
        background-image url('../image/arrow-down-black-36x22.png')
        background-size 9px 6px
