.common-ui.date-selector
  &.date-selector-dark
    background-color #011325

    .date-selector-input
      .input-text
        color white
        padding-left 10px

      .input-icon
        width 9px
        height 6px
        background-image url('../image/arrow-down-green-36x22.png')
        background-size 9px 6px
